@mixin breakPointSmall {
    @media screen and (max-width: 576px) {
      @content;
    }
  }

 

  @mixin breakPointMedium {
    @media screen and (max-width: 768px) {
      @content;
    }
  }

  @mixin breakPointBig {
    @media screen and (max-width: 992px) {
      @content;
    }
  }

  @mixin breakPointBigest {
    @media screen and (max-width: 1200px) {
      @content;
    }
  }
  
  
  @mixin buttonStyle {
      text-align: center;
      padding: 10px 20px;
      color: #fff;
      border: 1px solid white;
      background-color: #3a3939;
font-family: Gilroy;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.9px;
text-transform: uppercase;
  
      
  }
  
  @mixin buttonoStyleHover {
      cursor: pointer;
      background-color: $light;
      border: 1px solid #3a3939;
      color: $dark;
      transition: 0.5s;

      color: var(--accent, #333);
      text-align: center;
      font-family: Gilroy;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.9px;
      
  }
  
  $dark: #333;
  $light: #fff;
  
  
  // 576
  // 768
  // 992
  // 1200
  // 1400
  
  @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&family=Poiret+One&family=Poppins:wght@100&display=swap");
  
 
  
  .header__general {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    margin-bottom: 0px;
    
    background-color: #3a3939;
    .header__info {
      display: flex;
      padding: 0px 20px;
      gap: 10px;
      color: $light;
      align-items: center;
      flex-wrap: wrap;
      width: 365px;
    }
    .header__nav {
      display: flex;
      padding: 0px 20px;
      gap: 10px;
      color: $light;
      align-items: center;
      flex-wrap: wrap;
      width: 365px;
    }
    .header__nav img {
      width: 24px;
      height: 24px;
      margin: auto;
    }
    .header__nav a {
      margin: auto;
    }
  }
  
  @media screen and (max-width: 1100px) {
      .header__general {
      flex-direction: column;
      align-items: center;
      
    }
      .header__a {
      display: none;
    }
  
    .header__image {
      margin-bottom: 10px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .header__general .header__info {
      display: none;
    }
  
    .header__a {
      display: none;
    }
    .header__general {
      flex-direction: column;
      align-items: center;
      
    }
    .header__image {
      margin-bottom: 10px;
    }
  }

  
  .wrapper {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  @include breakPointMedium {
    .wrapper {
      width: 100%;
    }
  }

  .product__nav {
    margin-bottom: 20px;
  }

  .product__nav a {
    color: var(--accent, #333);
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  text-decoration-line: underline;
  }

  .product__nav {
    color: var(--accent, #333);
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
  }

  .item {
    display: flex;
    margin-bottom: 50px;
    width: 800px;
    height: 380px;
    gap: 20px;
  }
@include breakPointMedium {
  .item {
    margin-bottom: 50px;
    gap: 20px;
    width: auto;
    height: auto;
    display: block;
  }
}
  .product__images {
    display: flex;
    width: 100%;
    margin-bottom: 0px;
  }

@include breakPointMedium {
  .product__images {
    margin-bottom: 20px;
    width: 90%;
    margin: auto;
    justify-content: center;
  }
}

.productBorder {
  border: 1px solid gray;
  padding: 5px;
}

@include breakPointMedium {
  .productBorder {
    width: 90%;
    margin: auto;
    text-align: center;
  }
}

.product__desc-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  border: 1px solid gray;
  padding: 5px;
}

@include breakPointMedium {
  .product__desc-page {
    margin-bottom: 1px;
  }
}

.product__title {
  color: var(--accent, #333);
/* h3 / 24m */
font-family: Gilroy;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 2.4px;
text-transform: uppercase;
}

.product__cat {
  color: var(--hard-grey, #979797);
/* p / 14r */
font-family: Gilroy;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 21px */
border-bottom: 1px solid;
}

.product__description {
  color: var(--accent, #333);
/* p / 14r */
font-family: Gilroy;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 21px */
}

.product__coast {
  color: var(--accent, #333);
/* p / 24m */
font-family: Gilroy;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 1.2px;
text-transform: uppercase;
text-align: start;
}

@include breakPointMedium {
  .product__coast {
    text-align: center;
  }
}

.product__buying {
  margin: 20px 0px;
}

@include breakPointMedium {
  .product__buying {
    display: contents;
  }
}

.product__buying-buy {
  
@include buttonStyle
}

.product__buying-basket {
  color: var(--accent, #333);
text-align: center;
font-family: Gilroy;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.9px;
text-transform: uppercase;
border: 1px solid;
padding: 10px 20px;

}