@import url(nullstyle.scss);
@import url(catalogStyle.scss);
@import url(card__product.scss);
@import url(map.scss);

@mixin breakPointSmall {
  @media screen and (max-width: 576px) {
    @content;
  }
}

@mixin breakPointMedium {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin breakPointBig {
  @media screen and (max-width: 992px) {
    @content;
  }
}

@mixin breakPointBigest {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin buttonStyle {
  text-align: center;
  padding: 10px 20px;
  color: #fff;
  border: 1px solid white;
  background-color: #3a3939;
font-family: Gilroy;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.9px;
text-transform: uppercase;

  
}

@mixin buttonoStyleHover {
  cursor: pointer;
  background-color: $light;
  border: 1px solid #3a3939;
  color: $dark;
  transition: 0.5s;

  color: var(--accent, #333);
  text-align: center;
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.9px;
  
}

$dark: #333;
$light: #fff;


// 576
// 768
// 992
// 1200
// 1400


// Подключение шрифтов
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&family=Poiret+One&family=Poppins:wght@100&display=swap");

.body {
  margin: 0;
  /* display:flex; */
  /* place-items:center; */
  min-width: 320px;
  min-height: 100vh
}

.container {
  font-family: "Playfair Display";
  font-weight: 700;
  color: $dark;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

// @media screen and (min-width: 1400px) {
//     .container {
//         background-color:gray;
//     }
// }


.header {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  
  .header__info {
    display: flex;
    padding: 0px 20px;
    gap: 10px;
    color: $light;
    align-items: center;
    flex-wrap: wrap;
    width: 365px;
  }
  .header__nav {
    display: flex;
    padding: 0px 20px;
    gap: 10px;
    color: $light;
    align-items: center;
    flex-wrap: wrap;
    width: 365px;
  }
  .header__nav img {
    width: 24px;
    height: 24px;
    margin: auto;
  }
  .header__nav a {
    margin: auto;
  }
}

.header__a:visited {
  color: $light;
  background-color: #333;
}

@media screen and (max-width: 1100px) {
    .header .header__info {
    display: none;
    }

    .header__a {
        display: none;
    }
    .header {
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }
    .header__image {
        margin-bottom: 10px;
    }
}

.first_section {
  width: 100%;
  height: 676px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(/public/images/bgc.png);
  background-repeat: no-repeat;
  background-position-x: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .first_section {
    width: 100%;
    height: 676px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(/public/images/bgcmob.png);
    background-repeat: no-repeat;
    background-position-x: center;
  }
}

.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  .catalog__title {
    margin-bottom: 65px;
    font-family: Noto Serif;
    color: $light;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
@media screen and (max-width: 766px) {
    .catalog__title {
      font-size: 10px;
    }
    .catalog {
        margin-bottom: 80px;
    }
    .catalog__button_first {
        margin-bottom: 100px;
    }
}
  .catalog__button_first {
    @include buttonStyle;
    
  }

  .catalog__button_first:hover {
    @include buttonoStyleHover;
  }
}

.catalog__brands {
  display: flex;
  justify-content: center;
  border-top: 2px solid black;
  padding: 20px;
  flex-wrap: wrap;
}
@media screen and (max-width: 766px) {
  .catalog__brands {
    display: none;
  }
}
.catalog__brands_img {
  display: flex;
}

.product {
  width: 80%;
  margin-bottom: 50px;
}

.product__desc {
  text-align: center;
  font-size: medium;
  margin-bottom: 20px;
  & p {
    font-size: small;
    margin-bottom: 40px;
  }
  & h2 {
    font-size: larger;
  }
}

.product {
    text-align: center;
}


.product__buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  // & button {
  //   background-color: aliceblue;
  //   color: $dark;
  //   border: 0.7px solid black;
  //   margin: 10px;
  //   padding: 2px;
  //   flex-grow: 1;
  //   box-shadow: 6px 4px 0px palegoldenrod;
  // }
}

.product__button {
  @include buttonStyle;
  color: $light;
  background-color: $dark;
  &:hover {
      @include buttonoStyleHover;
  }

}

.product__images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 40px;
  
}

.product__images_container {
  display: flex;
  justify-content: center;
  position: relative;
  flex-grow: 1;
  & img {
    flex-grow: 1;
    margin: 2px;
    transition: 0.5s;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width:768px) {
    .product__images_container {
        position: sticky;
        top: 120px;
    }
    .product__buttons {
        position: sticky;
        top: 40px;
    }
    
}

.ourSaloon {   
    padding: 0 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $light;
    background-image: url(../public/images/Rectangle6.png);
    text-align: center;
    margin-bottom: 40px;
  & .ourSaloon__p {
    margin: 40px;
  }

  & .ourSaloon__h1 {
    margin-bottom: 60px;
  }

  }

  .ourSaloon__desc {
    margin-bottom: 40px;
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 25.2px */
  }


.ourSaloon__button {
    margin-bottom: 40px;
    @include buttonStyle;
    
    &:hover {
        @include buttonoStyleHover;
    }
}


.socialMedias {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    // justify-content: center;
}

.socialMedias__desc {
    text-align: center;
    margin-bottom: 30px;
    line-height: 40px;
}

.socialMedias__images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 992px) {
    .socialMedias {
    max-width: 100%;
    overflow: hidden;
}
}

.distribution {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 470px;
    padding: 0 15%;
    color: $light;
    background-image: url(/public/images/Rectangle6.png);
    text-align: center;
    margin-bottom: 40px;
    .distribution__p {
        font-family: Gilroy;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
        margin: 20px;
    }

    .distribution__h1 {
        margin-bottom: 60px;
        font-family: Gilroy;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 25.2px */
    }
}

.distribution__form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    gap: 50px;
}

@media screen and (max-width: 992px) {
    .distribution {
        flex-direction: column;
        height: 100%;
        
    }
    .distribution__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        gap: 50px;
        border: none;
    }
}
   

.distribution__form_list li{
    font-family: Gilroy;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 140%;
    margin-bottom: 10px;
    background: url(../../public/icons/subscribe__icon.png) left no-repeat;
    padding: 0 0 0 30px;
    & {
        text-align: start;
    }
}

.distribution__form_board {
    display: flex;
    padding: 20px;
    border: 1px solid $light;
}

.distribution__form_contain {
    display: flex;
    align-items: center;
    background-color: $light;
    padding: 20px;
    gap: 20px;
    & input {
        padding: 10px;
        height: 60px;
        width: 240px;
        border: 1px solid #D6D6D6;
    }
    
}

@media screen and (max-width: 769px) {
    .distribution__form_contain {
        display: block;
    }
}

.distribution__form_button {
    @include buttonStyle;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.4px;
    text-transform: uppercase;
   
    &:hover {
        @include buttonoStyleHover;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Gilroy;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%
}

.footer__contacts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid $dark;
    width: 80%;

}

.footer__contacts-column {
    max-width: 25%;
}

.footer__contacts-ul h1 {
    font-size: large;
    border-bottom: 1px solid $dark;
}

.footer__contacts-ul li {
    line-height: 40px;
}

@media screen and (max-width: 992px) {
    .footer__contacts {
        display: block;
        text-align: center;
    }

    .footer__contacts-column {
        max-width: 100%;
    }

    .footer__contacts-ul h1 {
        font-size: large;
        border-top: 1px solid $dark;
        border-bottom: 1px solid $dark;
    }
    
}

.footer__rights {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 40px;
}

@media screen and (max-width: 992px) {
    .footer__rights {
        display: block;
        text-align: center;
    }
}
